.search-input{
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
  margin-top: 50px;
}

.input-group{
  width: 500px;
   background-color: white; /*f07d14*/
   border: 2px solid #f07d14;
   height: 40px;
   border-radius: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
/*CSS dos filtros a */

.filters-button{
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
  margin-top: 20px;
  
}
.filter-btn {
  position: relative;
  display: inline-block;
}

.filter-btn .icon-text {
  position: relative;
  z-index: 1;
}

.filter-btn fa-icon {
  position: absolute;
  top: -20px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  color: #756c6c; /* Cor desejada para o ícone */
  z-index: 0;
}


/* 
.container-cards{
  background-color: #fff3e6;
}

*/
.form-control:focus {
   outline: none;
   box-shadow: none;
 }
.form-control{
   background: none;
   border: 0;
   outline: 0;
   font-size: 16px;
}

.btn img{ 
   width: 25px;
   height: 25px;
}

.input-group-append .btn-outline-secondary {
  border: none;
  background-color: transparent;
}

.container-cards {
  width: 100%;
  padding: 30px;
}
.input-group-append .btn-outline-secondary {
  border: none;
  background-color: transparent;
}

.card{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra à div */

  width: 300px;
  padding: 5px;
 border: none;
}

.card-body{
  padding: 5px;
  
}

.card-title{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1px;
}

.card-location, .card-price, .card-rating{
  font-size: 13px;
  font-weight: 500;
color: #41444b;
  margin-bottom: 1px;
}
 
.card img{
  height: 200px;
}

a {
  text-decoration: none;
}
