
<div class="settings-container">
    <p>Configurações do Usuário</p>
    <form (ngSubmit)="settingsForm()" #userSettings="ngForm" class="form-container">
      <p>Alterar senha</p>
      <div class="form-group">
          <input class="form-control" id="email" type="email" name="email" formControlName="email" aria-label="Email address">
          <label for="email">Email</label>
        </div>
  
      <div class="form-group">
        <input class="form-control" id="password" type="password" name="password" formControlName="password" aria-label="Current password">
        <label for="password">Senha atual</label>
      </div>
  
      <div class="form-group">
        
        <input class="form-control" id="newPassword" type="password" name="newPassword" formControlName="newPassword" aria-label="New password">
        <label for="newPassword">Nova senha</label>
      </div>
  
        <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="changePassword()">Alterar Senha</button>
      </div>
    </form>
  </div>
  