<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswordLabel">Alterar Senha</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <form (ngSubmit)="changePasswordForm()" changePwdForm="ngForm" class="form-container">
            <div class="form-group">
              <label for="currentPassword">Senha Atual:</label>
              <input type="password" formControlName="currentPassword" class="form-control" id="currentPassword">
            </div>
  
            <div class="form-group">
              <label for="newPassword">Nova Senha:</label>
              <input type="password" formControlName="newPassword" class="form-control" id="newPassword">
            </div>
  
            <div class="form-group">
              <label for="confirmPassword">Confirmar Nova Senha:</label>
              <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">
            </div>
  
            <button type="submit" class="btn btn-primary">Salvar Senha</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  