.modal-title{
    font-size:24px;
    color: #f07d14;
    font-weight: 500; 
}

  .form-control{
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f07d14;
    outline: none;
    margin-bottom: 20px;
  }
  .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  form .form-group label{
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
}

.form-group .form-control:focus ~ label{
  top: -10px;
  font-size: 13px;
  color: #f07d14;
}
.form-group .form-control:valid ~ label{
  top: -10px;
  font-size: 13px;
  color: #f07d14;
}

.btn{
    background-color: #f07d14;
    border: none;
}
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: #f07d14;
  border-color: #f07d14; 
  
}