<header>
    <nav class="navbar navbar-expand-lg bg-blue">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/simbolo.png" alt="Logo" width="40" height="43" class="d-inline-block align-text-left">
                Booking Now 
            </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link active" routerLink="/change-password" routerLinkActive="active" ariaCurrentWhenActive="page">
                  Cadastre sua acomodação 
                </a>
              </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
                Cadastre-se
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                Entrar
              </a>
            </li>
          </ul>
          </div>
        </div>
      </nav>
    </header>
  